In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm

In [2]:
train_df = pd.read_csv('../data_file/basic_train.csv')
test_df = pd.read_csv('../data_file/basic_test.csv')

In [3]:
train_df

,building_number,date_time,temperature,rainfall,windspeed,humidity,sunshine,solar_radiation,power_consumption,building_type,...,solar_power_capacity,ess_capacity,pcs_capacity,hour,day,month,year,day_of_year,hour_of_year,day_of_week
0,1,2022-06-01 00:00:00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28,Other Buildings,...,-,-,-,0,2,6,2022,152,3624,2
1,1,2022-06-01 01:00:00,18.0,NaN,1.1,45.0,NaN,NaN,1047.36,Other Buildings,...,-,-,-,1,2,6,2022,152,3625,2
2,1,2022-06-01 02:00:00,17.7,NaN,1.5,45.0,NaN,NaN,974.88,Other Buildings,...,-,-,-,2,2,6,2022,152,3626,2
3,1,2022-06-01 03:00:00,16.7,NaN,1.4,48.0,NaN,NaN,953.76,Other Buildings,...,-,-,-,3,2,6,2022,152,3627,2
4,1,2022-06-01 04:00:00,18.4,NaN,2.8,43.0,NaN,NaN,986.40,Other Buildings,...,-,-,-,4,2,6,2022,152,3628,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100,2022-08-24 19:00:00,23.1,NaN,0.9,86.0,0.5,NaN,881.04,Hotel and Resort,...,-,-,-,19,2,8,2022,236,5659,2
203996,100,2022-08-24 20:00:00,22.4,NaN,1.3,86.0,0.0,NaN,798.96,Hotel and Resort,...,-,-,-,20,2,8,2022,236,5660,2
203997,100,2022-08-24 21:00:00,21.3,NaN,1.0,92.0,NaN,NaN,825.12,Hotel and Resort,...,-,-,-,21,2,8,2022,236,5661,2
203998,100,2022-08-24 22:00:00,21.0,NaN,0.3,94.0,NaN,NaN,640.08,Hotel and Resort,...,-,-,-,22,2,8,2022,236,5662,2
203999,100,2022-08-24 23:00:00,20.7,NaN,0.1,95.0,NaN,NaN,540.24,Hotel and Resort,...,-,-,-,23,2,8,2022,236,5663,2

In [4]:
test_df

,building_number,date_time,temperature,rainfall,windspeed,humidity,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,hour,day,month,year,day_of_year,hour_of_year
0,1,2022-08-25 00:00:00,23.5,0.0,2.2,72,Other Buildings,110634.00,39570.00,-,-,-,0,3,8,2022,237,5664
1,1,2022-08-25 01:00:00,23.0,0.0,0.9,72,Other Buildings,110634.00,39570.00,-,-,-,1,3,8,2022,237,5665
2,1,2022-08-25 02:00:00,22.7,0.0,1.5,75,Other Buildings,110634.00,39570.00,-,-,-,2,3,8,2022,237,5666
3,1,2022-08-25 03:00:00,22.1,0.0,1.3,78,Other Buildings,110634.00,39570.00,-,-,-,3,3,8,2022,237,5667
4,1,2022-08-25 04:00:00,21.8,0.0,1.0,77,Other Buildings,110634.00,39570.00,-,-,-,4,3,8,2022,237,5668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100,2022-08-31 19:00:00,22.5,0.0,0.9,84,Hotel and Resort,57497.84,40035.23,-,-,-,19,2,8,2022,243,5827
16796,100,2022-08-31 20:00:00,20.7,0.0,0.4,95,Hotel and Resort,57497.84,40035.23,-,-,-,20,2,8,2022,243,5828
16797,100,2022-08-31 21:00:00,20.2,0.0,0.4,98,Hotel and Resort,57497.84,40035.23,-,-,-,21,2,8,2022,243,5829
16798,100,2022-08-31 22:00:00,20.1,0.0,1.1,97,Hotel and Resort,57497.84,40035.23,-,-,-,22,2,8,2022,243,5830
16799,100,2022-08-31 23:00:00,19.1,0.0,0.1,99,Hotel and Resort,57497.84,40035.23,-,-,-,23,2,8,2022,243,5831

- 건물별, 요일별, 시간별 발전량 평균 넣어주기
- 건물별 시간별 발전량 평균 넣어주기
- 건물별 시간별 발전량 표준편차 넣어주기

In [5]:
power_mean = pd.pivot_table(train_df, values = 'power_consumption', index = ['building_number', 'hour', 'day'], aggfunc = np.mean).reset_index()

train_df['day_hour_mean'] = train_df.apply(lambda x : power_mean.loc[(power_mean.building_number == x['building_number']) & (power_mean.hour == x['hour']) & (power_mean.day == x['day']) ,'power_consumption'].values[0], axis = 1)
test_df['day_hour_mean'] = test_df.apply(lambda x : power_mean.loc[(power_mean.building_number == x['building_number']) & (power_mean.hour == x['hour']) & (power_mean.day == x['day']) ,'power_consumption'].values[0], axis = 1)

In [6]:
power_hour_mean = pd.pivot_table(train_df, values = 'power_consumption', index = ['building_number', 'hour'], aggfunc = np.mean).reset_index()


train_df['hour_mean'] = train_df.apply(lambda x : power_hour_mean.loc[(power_hour_mean.building_number == x['building_number']) & (power_hour_mean.hour == x['hour']) ,'power_consumption'].values[0], axis = 1)
test_df['hour_mean'] = test_df.apply(lambda x : power_hour_mean.loc[(power_hour_mean.building_number == x['building_number']) & (power_hour_mean.hour == x['hour']) ,'power_consumption'].values[0], axis = 1)

In [7]:
power_hour_std = pd.pivot_table(train_df, values = 'power_consumption', index = ['building_number', 'hour'], aggfunc = np.std).reset_index()
train_df['hour_std'] = train_df.apply(lambda x : power_hour_std.loc[(power_hour_std.building_number == x['building_number']) & (power_hour_std.hour == x['hour']) ,'power_consumption'].values[0], axis = 1)
test_df['hour_std'] = test_df.apply(lambda x : power_hour_std.loc[(power_hour_std.building_number == x['building_number']) & (power_hour_std.hour == x['hour']) ,'power_consumption'].values[0], axis = 1)

- 결측치 처리 풍속 , 습도 interpolate
- capacity들은 -을 0으로 변환
- 비 결측치는 0으로 변환, 습도가 99이상이면 오는 것으로 변환
- 강수량 x -> 0,1 오는지 안오는지로 변환
- 전날 비가 왔는지 안왔는지 보여주는 feature 추가
- solar radiation, sunshine drop

In [8]:
train_df['rainfall'] = train_df['rainfall'].fillna(0)

In [9]:
train_df.loc[train_df['rainfall'] > 0, 'rainfall'] = 1
train_df.loc[train_df['humidity'] == 100, 'rainfall'] = 1
train_df['rainfall_next_day'] = train_df['rainfall'].shift(24)

# Fill the NaN values in the 'rainfall_next_day' with 0
train_df['rainfall_next_day'] = train_df['rainfall_next_day'].fillna(0)

In [10]:
test_df.loc[train_df['rainfall'] > 0, 'rainfall'] = 1
test_df.loc[train_df['humidity'] == 100, 'rainfall'] = 1
test_df['rainfall_next_day'] = test_df['rainfall'].shift(24)

# Fill the NaN values in the 'rainfall_next_day' with 0
test_df['rainfall_next_day'] = test_df['rainfall_next_day'].fillna(0)

In [11]:
train_df['rainfall_any'] = train_df.groupby(['day_of_year'])['rainfall_next_day'].transform(lambda x: 1 if x.sum() > 0 else 0)
test_df['rainfall_any'] = test_df.groupby(['day_of_year'])['rainfall_next_day'].transform(lambda x: 1 if x.sum() > 0 else 0)

In [12]:
train_df['ddt'] = pd.to_datetime(train_df['date_time'], format='%Y%m%d %H')
train_df.set_index('ddt', inplace=True)
test_df['ddt'] = pd.to_datetime(test_df['date_time'], format='%Y%m%d %H')
test_df.set_index('ddt', inplace=True)

In [13]:
train_df['windspeed'] = train_df['windspeed'].interpolate(method='time')
train_df['humidity'] = train_df['humidity'].interpolate(method='time')
test_df['windspeed'] = test_df['windspeed'].interpolate(method='time')
test_df['humidity'] = test_df['humidity'].interpolate(method='time')

- DI(discomfort index) 추가 
- 0.81×T+0.01×H×(0.99×T−14.3)+46.3

In [14]:
train_df['discomfort_index'] = 0.81 * train_df['temperature'] + 0.01 * train_df['humidity'] * (0.99 * train_df['temperature'] - 14.3) + 46.3
test_df['discomfort_index'] = 0.81 * test_df['temperature'] + 0.01 * test_df['humidity'] * (0.99 * test_df['temperature'] - 14.3) + 46.3

In [15]:
train_df['solar_power_capacity'][train_df['solar_power_capacity'] == '-'] = 0
test_df['solar_power_capacity'][test_df['solar_power_capacity'] == '-'] = 0

/var/folders/__/r8r58jz17gj32tjwycl0m0hr0000gn/T/ipykernel_65505/1963336850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['solar_power_capacity'][train_df['solar_power_capacity'] == '-'] = 0
/var/folders/__/r8r58jz17gj32tjwycl0m0hr0000gn/T/ipykernel_65505/1963336850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['solar_power_capacity'][test_df['solar_power_capacity'] == '-'] = 0

In [16]:
train_df.drop(['sunshine', 'solar_radiation', 'ess_capacity', 'pcs_capacity'], axis=1, inplace=True)
test_df.drop(['ess_capacity', 'pcs_capacity'], axis=1, inplace=True)

- cooling degree hours (CDH) 와 일평균 CDH 추가(냉방도일)
- 온도에서 24도를 뺀 값
- 24도부터 에어컨을 튼다고 함. 이후 얼마나 사용할지 가정.

In [17]:
def CDH(xs):
    ys = []
    for i in range(len(xs)):
        if i < 11:
            ys.append(np.sum(xs[:(i+1)]-24))
        else:
            ys.append(np.sum(xs[(i-11):(i+1)]-24))
    return np.array(ys)

In [18]:
cdhs = np.array([])
for num in range(1,101):
    temp = train_df[train_df['building_number'] == num]
    cdh = CDH(temp['temperature'].values)
    cdhs = np.concatenate([cdhs, cdh])
train_df['cdh'] = cdhs

In [19]:
cdhs = np.array([])
for num in range(1,101):
    temp = test_df[test_df['building_number'] == num]
    cdh = CDH(temp['temperature'].values)
    cdhs = np.concatenate([cdhs, cdh])
test_df['cdh'] = cdhs

In [20]:
train_df

,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,...,day_of_year,hour_of_year,day_of_week,day_hour_mean,hour_mean,hour_std,rainfall_next_day,rainfall_any,discomfort_index,cdh
ddt,,,,,,,,,,,,,,,,,,,,,
2022-06-01 00:00:00,1,2022-06-01 00:00:00,18.6,0.0,0.9,42.0,1085.28,Other Buildings,110634.00,39570.00,...,152,3624,2,1774.744615,1706.318118,446.882767,0.0,1,63.09388,-5.4
2022-06-01 01:00:00,1,2022-06-01 01:00:00,18.0,0.0,1.1,45.0,1047.36,Other Buildings,110634.00,39570.00,...,152,3625,2,1687.347692,1622.620235,439.662704,0.0,1,62.46400,-11.4
2022-06-01 02:00:00,1,2022-06-01 02:00:00,17.7,0.0,1.5,45.0,974.88,Other Buildings,110634.00,39570.00,...,152,3626,2,1571.483077,1506.971294,412.071906,0.0,1,62.08735,-17.7
2022-06-01 03:00:00,1,2022-06-01 03:00:00,16.7,0.0,1.4,48.0,953.76,Other Buildings,110634.00,39570.00,...,152,3627,2,1522.153846,1437.365647,391.205981,0.0,1,60.89884,-25.0
2022-06-01 04:00:00,1,2022-06-01 04:00:00,18.4,0.0,2.8,43.0,986.40,Other Buildings,110634.00,39570.00,...,152,3628,2,1506.793846,1447.321412,381.099697,0.0,1,62.88788,-30.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-24 19:00:00,100,2022-08-24 19:00:00,23.1,0.0,0.9,86.0,881.04,Hotel and Resort,57497.84,40035.23,...,236,5659,2,964.873846,1010.462118,161.399578,0.0,1,72.38034,4.4
2022-08-24 20:00:00,100,2022-08-24 20:00:00,22.4,0.0,1.3,86.0,798.96,Hotel and Resort,57497.84,40035.23,...,236,5660,2,882.184615,928.125176,137.566008,0.0,1,71.21736,3.8
2022-08-24 21:00:00,100,2022-08-24 21:00:00,21.3,0.0,1.0,92.0,825.12,Hotel and Resort,57497.84,40035.23,...,236,5661,2,779.095385,830.032941,128.300189,0.0,1,69.79704,1.7
2022-08-24 22:00:00,100,2022-08-24 22:00:00,21.0,0.0,0.3,94.0,640.08,Hotel and Resort,57497.84,40035.23,...,236,5662,2,663.267692,723.100235,112.464079,0.0,1,69.41060,-1.1
2022-08-24 23:00:00,100,2022-08-24 23:00:00,20.7,0.0,0.1,95.0,540.24,Hotel and Resort,57497.84,40035.23,...,236,5663,2,561.932308,588.784941,91.484424,0.0,1,68.95035,-4.1

In [21]:
train_df['date_time'] = pd.to_datetime(train_df['date_time'], format='%Y%m%d %H')
train_df['hour'] = train_df['date_time'].dt.hour
train_df['week'] = train_df['date_time'].dt.isocalendar().week

In [22]:
test_df['date_time'] = pd.to_datetime(test_df['date_time'], format='%Y%m%d %H')
test_df['hour'] = test_df['date_time'].dt.hour
test_df['week'] = test_df['date_time'].dt.isocalendar().week

In [23]:
train_df.columns

Index(['building_number', 'date_time', 'temperature', 'rainfall', 'windspeed',
       'humidity', 'power_consumption', 'building_type', 'total_area',
       'cooling_area', 'solar_power_capacity', 'hour', 'day', 'month', 'year',
       'day_of_year', 'hour_of_year', 'day_of_week', 'day_hour_mean',
       'hour_mean', 'hour_std', 'rainfall_next_day', 'rainfall_any',
       'discomfort_index', 'cdh', 'week'],
      dtype='object')

- 시간변수 cos, sin으로 변환
- Holiday 변수 추가

In [24]:
train_df['sin_time'] = np.sin(2*np.pi*train_df.hour/24)
train_df['cos_time'] = np.cos(2*np.pi*train_df.hour/24)

In [25]:
test_df['sin_time'] = np.sin(2*np.pi*test_df.hour/24)
test_df['cos_time'] = np.cos(2*np.pi*test_df.hour/24)

In [26]:
train_df['holiday'] = train_df.apply(lambda x : 0 if x['day']<5 else 1, axis = 1)
train_df['holiday'] = train_df.apply(lambda x : 2 if x['day']==6 else x['holiday'], axis = 1)
test_df['holiday'] = test_df.apply(lambda x : 0 if x['day']<5 else 1, axis = 1)
test_df['holiday'] = test_df.apply(lambda x : 2 if x['day']==6 else x['holiday'], axis = 1)
train_df.loc[('2022-06-01'<=train_df.date_time)&(train_df.date_time<'2022-06-02'), 'holiday'] = 1
train_df.loc[('2022-06-06'<=train_df.date_time)&(train_df.date_time<'2022-06-07'), 'holiday'] = 1
train_df.loc[('2022-08-15'<=train_df.date_time)&(train_df.date_time<'2022-08-16'), 'holiday'] = 1

In [27]:
train_df.drop(['rainfall_next_day', 'humidity', 'month', 'year', 'hour', 'day_of_year', 'hour_of_year', 'day_of_week'], axis=1, inplace=True)

In [28]:
test_df.drop(['rainfall_next_day', 'humidity','month', 'year', 'hour', 'day_of_year', 'hour_of_year'], axis=1, inplace=True)

In [34]:
train_df = train_df.astype({'rainfall_any':'int'})

In [35]:
test_df = test_df.astype({'rainfall_any':'int'})

In [36]:
train_df.to_csv('../data_file/fill_na_train.csv', index=False)

In [37]:
test_df.to_csv('../data_file/fill_na_test.csv', index=False)

In [196]:
train_df.columns

Index(['building_number', 'date_time', 'temperature', 'rainfall', 'windspeed',
       'power_consumption', 'building_type', 'total_area', 'cooling_area',
       'solar_power_capacity', 'day', 'day_hour_mean', 'hour_mean', 'hour_std',
       'rainfall_any', 'discomfort_index', 'cdh', 'week', 'sin_time',
       'cos_time', 'holiday'],
      dtype='object')

In [199]:
test_df.columns

Index(['building_number', 'date_time', 'temperature', 'rainfall', 'windspeed',
       'building_type', 'total_area', 'cooling_area', 'solar_power_capacity',
       'day', 'day_hour_mean', 'hour_mean', 'hour_std', 'rainfall_any',
       'discomfort_index', 'cdh', 'week', 'sin_time', 'cos_time', 'holiday'],
      dtype='object')

- 각각 돌린다면 'building_type', 'total_area', 'cooling_area' 필요없음