In [49]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.signal import argrelextrema
import numpy as np
from datetime import datetime, timedelta
import warnings

In [50]:
# warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [51]:
df = pd.read_csv('../data_file/isolate_merge_df.csv')

/var/folders/__/r8r58jz17gj32tjwycl0m0hr0000gn/T/ipykernel_28480/4161076671.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data_file/isolate_merge_df.csv')

In [52]:
test_df = pd.read_csv('../data_file/fill_na_test.csv')

### holiday 37부터 42은 이상한 양상을 띈다. 기존 holiday feature를 극솟값에 대해서 0이되게 수정

In [55]:
def find_holiday(df, i):
    building_df = df[df['building_number'] == i]
    building_df.loc[:, ['date_time']] = pd.to_datetime(building_df['date_time'], format='%Y-%m-%d %H:00:00')
    building_df.set_index('date_time', inplace=True)
    building_df_daily_max = building_df.resample('D').max()
    # 평균
    avg_pwr = (building_df_daily_max['power_consumption'].max() + building_df_daily_max['power_consumption'].min())/2
    
    # local minima 찾기
    comparator = np.less
    local_minima_indices = argrelextrema(building_df_daily_max['power_consumption'].values, comparator)
    local_minima = building_df_daily_max['power_consumption'].iloc[local_minima_indices]
    local_minima = local_minima[local_minima < avg_pwr]
    #print(local_minima)
    
    building_df.loc[:, 'holiday'] = 0
    
    for i in local_minima.index:
        print(i)
        building_df.loc[building_df.index[(building_df.index >= i) & (building_df.index  < (i + timedelta(days=1)))], 'holiday'] = 1
        
    return building_df

In [56]:
find_holiday(df, 86)

2022-06-10 00:00:00
2022-07-10 00:00:00
2022-07-24 00:00:00
2022-08-10 00:00:00

,building_number,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,...,discomfort_index,cdh,week,sin_time,cos_time,holiday,upper_outliers,lower_outliers,outliers,anomaly
date_time,,,,,,,,,,,,,,,,,,,,,
2022-06-01 04:00:00,86,16.6,0.0,2.6,53.0,490.32,Discount Mart,54866.51,30953.0,97.85,...,60.87702,-34.4,22,0.866025,5.000000e-01,0,1.0,1.0,1.0,False
2022-06-01 06:00:00,86,16.4,0.0,2.0,52.0,536.22,Discount Mart,54866.51,30953.0,97.85,...,60.59072,-49.7,22,1.000000,6.123234e-17,0,1.0,1.0,1.0,False
2022-06-01 07:00:00,86,18.7,0.0,2.4,47.0,781.38,Discount Mart,54866.51,30953.0,97.85,...,63.42711,-55.0,22,0.965926,-2.588190e-01,0,1.0,1.0,1.0,False
2022-06-01 08:00:00,86,20.8,0.0,2.0,40.0,1033.56,Discount Mart,54866.51,30953.0,97.85,...,65.66480,-58.2,22,0.866025,-5.000000e-01,0,1.0,1.0,1.0,False
2022-06-01 09:00:00,86,22.4,0.0,2.0,32.0,1275.66,Discount Mart,54866.51,30953.0,97.85,...,66.96432,-59.8,22,0.707107,-7.071068e-01,0,1.0,1.0,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-24 19:00:00,86,25.9,0.0,2.3,63.0,1504.62,Discount Mart,54866.51,30953.0,97.85,...,74.42383,25.4,34,-0.965926,2.588190e-01,0,1.0,1.0,1.0,False
2022-08-24 20:00:00,86,24.8,0.0,2.7,66.0,1445.40,Discount Mart,54866.51,30953.0,97.85,...,73.15432,25.7,34,-0.866025,5.000000e-01,0,1.0,1.0,1.0,False
2022-08-24 21:00:00,86,23.9,0.0,1.9,70.0,1297.26,Discount Mart,54866.51,30953.0,97.85,...,72.21170,24.4,34,-0.707107,7.071068e-01,0,1.0,1.0,1.0,False
2022-08-24 22:00:00,86,23.6,0.0,0.7,71.0,1183.86,Discount Mart,54866.51,30953.0,97.85,...,71.85144,22.6,34,-0.500000,8.660254e-01,0,1.0,1.0,1.0,False
2022-08-24 23:00:00,86,22.9,0.0,0.7,74.0,748.08,Discount Mart,54866.51,30953.0,97.85,...,71.04354,19.7,34,-0.258819,9.659258e-01,0,1.0,1.0,1.0,False

### test set은 다 0으로 수정(휴일없음)

In [57]:
for i in range(37, 43):
    test_df.loc[test_df['building_number'] == i, 'holiday'] = 0

### train set 수정

In [58]:
for i in range(37, 43):
    building_df = find_holiday(df, i)
    df.loc[df['building_number'] == i, 'holiday'] = building_df['holiday'].values

2022-06-06 00:00:00
2022-06-17 00:00:00
2022-06-20 00:00:00
2022-07-11 00:00:00
2022-08-08 00:00:00
2022-06-13 00:00:00
2022-07-25 00:00:00
2022-08-01 00:00:00
2022-07-18 00:00:00
2022-08-08 00:00:00
2022-06-20 00:00:00
2022-07-18 00:00:00
2022-08-08 00:00:00
2022-06-27 00:00:00
2022-07-25 00:00:00
2022-08-08 00:00:00
2022-06-13 00:00:00
2022-07-11 00:00:00
2022-08-22 00:00:00

### 3번 건물 수정

### 5번 건물 수정

In [59]:
df5 = df.loc[df['building_number'] == 5, :].copy()
df.loc[df['building_number'] == 5, 'holiday'] = df5.apply(lambda x : 1 if x['day']<4 else 0, axis = 1)
df.loc[('2022-06-17'<=df.date_time) & (df.date_time<'2022-06-18') & (df['building_number'] == 5), 'holiday'] = 1

test_df5 = test_df.loc[df['building_number'] == 5, :].copy()
test_df.loc[test_df['building_number'] == 5, 'holiday'] = test_df5.apply(lambda x : 1 if x['day']<4 else 0, axis = 1)

### 54번

In [60]:
df54 = df.loc[df['building_number'] == 54, :].copy()
df.loc[df['building_number'] == 54, 'holiday'] = df54.apply(lambda x : 1 if x['day']<1 else 0, axis = 1)
df.loc[('2022-08-16'<=df.date_time) & (df.date_time<'2022-08-18') & (df['building_number'] == 54), 'holiday'] = 1

test_df54 = test_df.loc[df['building_number'] == 54, :].copy()
test_df.loc[test_df['building_number'] == 54, 'holiday'] = test_df54.apply(lambda x : 1 if x['day']<1 else 0, axis = 1)

### 86번

In [61]:
building_df = find_holiday(df, 86)
building_df.reset_index(inplace=True)
building_df.loc[('2022-06-26'<=building_df.date_time) & (building_df.date_time<'2022-06-27'), 'holiday'] = 1
df.loc[df['building_number'] == 86, 'holiday'] = building_df['holiday'].values

test_df86 = test_df.loc[df['building_number'] == 86, :].copy()
test_df.loc[test_df['building_number'] == 86, 'holiday'] = test_df86.apply(lambda x : 1 if x['day']>5 else 0, axis = 1)

2022-06-10 00:00:00
2022-07-10 00:00:00
2022-07-24 00:00:00
2022-08-10 00:00:00

### 91번

In [62]:
building_df = find_holiday(df, 91)
# 6월 12일 추가 6월 8일 삭제 7월 10일 추가
building_df.reset_index(inplace=True)
building_df.loc[('2022-06-12'<=building_df.date_time) & (building_df.date_time<'2022-06-13'), 'holiday'] = 1
building_df.loc[('2022-06-08'<=building_df.date_time) & (building_df.date_time<'2022-06-09'), 'holiday'] = 0
building_df.loc[('2022-07-10'<=building_df.date_time) & (building_df.date_time<'2022-07-11'), 'holiday'] = 1
# test_df는 일욜만 휴일

test_df91 = test_df.loc[df['building_number'] == 91, :].copy()
test_df.loc[test_df['building_number'] == 91, 'holiday'] = test_df91.apply(lambda x : 1 if x['day']>5 else 0, axis = 1)

2022-06-08 00:00:00
2022-06-13 00:00:00
2022-06-26 00:00:00
2022-07-11 00:00:00
2022-07-24 00:00:00
2022-08-14 00:00:00
2022-08-22 00:00:00

### 저장

In [63]:
test_df.to_csv('../data_file/fix_holiday_feature_test.csv', index=False)

In [64]:
df.to_csv('../data_file/fix_holiday_feature_train.csv', index=False)

In [4]:
test_df = pd.read_csv('../data_file/fix_holiday_feature_test.csv')

In [17]:
train_df = pd.read_csv('../data_file/fix_holiday_feature_train.csv')

In [13]:
len(train_df.columns)

17

In [14]:
len(test_df.columns)

22

In [19]:
train_df.columns

Index(['building_number', 'temperature', 'rainfall', 'windspeed', 'humidity',
       'power_consumption', 'day', 'week_of_month', 'day_hour_mean',
       'hour_mean', 'hour_std', 'rainfall_any', 'discomfort_index', 'cdh',
       'week', 'sin_time', 'cos_time', 'holiday'],
      dtype='object')

In [20]:
test_df.columns

Index(['building_number', 'date_time', 'temperature', 'rainfall', 'windspeed',
       'humidity', 'building_type', 'total_area', 'cooling_area',
       'solar_power_capacity', 'day', 'week_of_month', 'day_hour_mean',
       'hour_mean', 'hour_std', 'rainfall_any', 'discomfort_index', 'cdh',
       'week', 'sin_time', 'cos_time', 'holiday'],
      dtype='object')

In [18]:
train_df.drop(['date_time', 'building_type', 'total_area', 'cooling_area', 'upper_outliers', 'lower_outliers', 'outliers', 'anomaly', 'solar_power_capacity'], axis=1 , inplace=True)

In [21]:
train_df

,building_number,temperature,rainfall,windspeed,humidity,power_consumption,day,week_of_month,day_hour_mean,hour_mean,hour_std,rainfall_any,discomfort_index,cdh,week,sin_time,cos_time,holiday
0,1,18.6,0.0,0.9,42.0,1085.28,2,0,1774.744615,1706.318118,446.882767,1,63.09388,-5.4,22,0.000000,1.000000,1
1,1,18.0,0.0,1.1,45.0,1047.36,2,0,1687.347692,1622.620235,439.662704,1,62.46400,-11.4,22,0.258819,0.965926,1
2,1,17.7,0.0,1.5,45.0,974.88,2,0,1571.483077,1506.971294,412.071906,1,62.08735,-17.7,22,0.500000,0.866025,1
3,1,16.7,0.0,1.4,48.0,953.76,2,0,1522.153846,1437.365647,391.205981,1,60.89884,-25.0,22,0.707107,0.707107,1
4,1,18.4,0.0,2.8,43.0,986.40,2,0,1506.793846,1447.321412,381.099697,1,62.88788,-30.6,22,0.866025,0.500000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200971,100,23.1,0.0,0.9,86.0,881.04,2,1,964.873846,1010.462118,161.399578,1,72.38034,4.4,34,-0.965926,0.258819,0
200972,100,22.4,0.0,1.3,86.0,798.96,2,1,882.184615,928.125176,137.566008,1,71.21736,3.8,34,-0.866025,0.500000,0
200973,100,21.3,0.0,1.0,92.0,825.12,2,1,779.095385,830.032941,128.300189,1,69.79704,1.7,34,-0.707107,0.707107,0
200974,100,21.0,0.0,0.3,94.0,640.08,2,1,663.267692,723.100235,112.464079,1,69.41060,-1.1,34,-0.500000,0.866025,0
200975,100,20.7,0.0,0.1,95.0,540.24,2,1,561.932308,588.784941,91.484424,1,68.95035,-4.1,34,-0.258819,0.965926,0

In [22]:
output_csv = pd.read_csv('../data_file/sample_submission.csv')

In [23]:
output_csv

         num_date_time  answer
0        1_20220825 00       0
1        1_20220825 01       0
2        1_20220825 02       0
3        1_20220825 03       0
4        1_20220825 04       0
...                ...     ...
16795  100_20220831 19       0
16796  100_20220831 20       0
16797  100_20220831 21       0
16798  100_20220831 22       0
16799  100_20220831 23       0

[16800 rows x 2 columns]