In [73]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [74]:
train_df = pd.read_csv('../data_file/basic_train.csv')
test_df = pd.read_csv('../data_file/basic_test.csv')

In [75]:
train_df

,building_number,date_time,temperature,rainfall,windspeed,humidity,sunshine,solar_radiation,power_consumption,building_type,...,solar_power_capacity,ess_capacity,pcs_capacity,hour,day,month,year,day_of_year,hour_of_year,day_of_week
0,1,2022-06-01 00:00:00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28,Other Buildings,...,-,-,-,0,2,6,2022,152,3624,2
1,1,2022-06-01 01:00:00,18.0,NaN,1.1,45.0,NaN,NaN,1047.36,Other Buildings,...,-,-,-,1,2,6,2022,152,3625,2
2,1,2022-06-01 02:00:00,17.7,NaN,1.5,45.0,NaN,NaN,974.88,Other Buildings,...,-,-,-,2,2,6,2022,152,3626,2
3,1,2022-06-01 03:00:00,16.7,NaN,1.4,48.0,NaN,NaN,953.76,Other Buildings,...,-,-,-,3,2,6,2022,152,3627,2
4,1,2022-06-01 04:00:00,18.4,NaN,2.8,43.0,NaN,NaN,986.40,Other Buildings,...,-,-,-,4,2,6,2022,152,3628,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100,2022-08-24 19:00:00,23.1,NaN,0.9,86.0,0.5,NaN,881.04,Hotel and Resort,...,-,-,-,19,2,8,2022,236,5659,2
203996,100,2022-08-24 20:00:00,22.4,NaN,1.3,86.0,0.0,NaN,798.96,Hotel and Resort,...,-,-,-,20,2,8,2022,236,5660,2
203997,100,2022-08-24 21:00:00,21.3,NaN,1.0,92.0,NaN,NaN,825.12,Hotel and Resort,...,-,-,-,21,2,8,2022,236,5661,2
203998,100,2022-08-24 22:00:00,21.0,NaN,0.3,94.0,NaN,NaN,640.08,Hotel and Resort,...,-,-,-,22,2,8,2022,236,5662,2
203999,100,2022-08-24 23:00:00,20.7,NaN,0.1,95.0,NaN,NaN,540.24,Hotel and Resort,...,-,-,-,23,2,8,2022,236,5663,2

In [76]:
test_df

,building_number,date_time,temperature,rainfall,windspeed,humidity,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,hour,day,month,year,day_of_year,hour_of_year
0,1,2022-08-25 00:00:00,23.5,0.0,2.2,72,Other Buildings,110634.00,39570.00,-,-,-,0,3,8,2022,237,5664
1,1,2022-08-25 01:00:00,23.0,0.0,0.9,72,Other Buildings,110634.00,39570.00,-,-,-,1,3,8,2022,237,5665
2,1,2022-08-25 02:00:00,22.7,0.0,1.5,75,Other Buildings,110634.00,39570.00,-,-,-,2,3,8,2022,237,5666
3,1,2022-08-25 03:00:00,22.1,0.0,1.3,78,Other Buildings,110634.00,39570.00,-,-,-,3,3,8,2022,237,5667
4,1,2022-08-25 04:00:00,21.8,0.0,1.0,77,Other Buildings,110634.00,39570.00,-,-,-,4,3,8,2022,237,5668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100,2022-08-31 19:00:00,22.5,0.0,0.9,84,Hotel and Resort,57497.84,40035.23,-,-,-,19,2,8,2022,243,5827
16796,100,2022-08-31 20:00:00,20.7,0.0,0.4,95,Hotel and Resort,57497.84,40035.23,-,-,-,20,2,8,2022,243,5828
16797,100,2022-08-31 21:00:00,20.2,0.0,0.4,98,Hotel and Resort,57497.84,40035.23,-,-,-,21,2,8,2022,243,5829
16798,100,2022-08-31 22:00:00,20.1,0.0,1.1,97,Hotel and Resort,57497.84,40035.23,-,-,-,22,2,8,2022,243,5830
16799,100,2022-08-31 23:00:00,19.1,0.0,0.1,99,Hotel and Resort,57497.84,40035.23,-,-,-,23,2,8,2022,243,5831

- 결측치 처리 풍속 , 습도 interpolate
- capacity들은 -을 0으로 변환
- 비 결측치는 0으로 변환, 습도가 99이상이면 오는 것으로 변환
- 강수량 x -> 0,1 오는지 안오는지로 변환
- 전날 비가 왔는지 안왔는지 보여주는 feature 추가
- solar radiation, sunshine drop

In [77]:
train_df['rainfall'] = train_df['rainfall'].fillna(0)

In [78]:
train_df.loc[train_df['rainfall'] > 0, 'rainfall'] = 1
train_df.loc[train_df['humidity'] == 100, 'rainfall'] = 1
train_df['rainfall_next_day'] = train_df['rainfall'].shift(24)

# Fill the NaN values in the 'rainfall_next_day' with 0
train_df['rainfall_next_day'] = train_df['rainfall_next_day'].fillna(0)

In [79]:
test_df.loc[train_df['rainfall'] > 0, 'rainfall'] = 1
test_df.loc[train_df['humidity'] == 100, 'rainfall'] = 1
test_df['rainfall_next_day'] = test_df['rainfall'].shift(24)

# Fill the NaN values in the 'rainfall_next_day' with 0
test_df['rainfall_next_day'] = test_df['rainfall_next_day'].fillna(0)

In [80]:
train_df['rainfall_any'] = train_df.groupby(['day_of_year'])['rainfall_next_day'].transform(lambda x: 1 if x.sum() > 0 else 0)
test_df['rainfall_any'] = test_df.groupby(['day_of_year'])['rainfall_next_day'].transform(lambda x: 1 if x.sum() > 0 else 0)

In [81]:
train_df['ddt'] = pd.to_datetime(train_df['date_time'], format='%Y%m%d %H')
train_df.set_index('ddt', inplace=True)
test_df['ddt'] = pd.to_datetime(test_df['date_time'], format='%Y%m%d %H')
test_df.set_index('ddt', inplace=True)

In [82]:
train_df['windspeed'] = train_df['windspeed'].interpolate(method='time')
train_df['humidity'] = train_df['humidity'].interpolate(method='time')
test_df['windspeed'] = test_df['windspeed'].interpolate(method='time')
test_df['humidity'] = test_df['humidity'].interpolate(method='time')

- DI(discomfort index) 추가 
- 0.81×T+0.01×H×(0.99×T−14.3)+46.3

In [83]:
train_df['discomfort_index'] = 0.81 * train_df['temperature'] + 0.01 * train_df['humidity'] * (0.99 * train_df['temperature'] - 14.3) + 46.3
test_df['discomfort_index'] = 0.81 * test_df['temperature'] + 0.01 * test_df['humidity'] * (0.99 * test_df['temperature'] - 14.3) + 46.3

In [84]:
train_df['solar_power_capacity'][train_df['solar_power_capacity'] == '-'] = 0
test_df['solar_power_capacity'][test_df['solar_power_capacity'] == '-'] = 0

/var/folders/__/r8r58jz17gj32tjwycl0m0hr0000gn/T/ipykernel_60092/1963336850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['solar_power_capacity'][train_df['solar_power_capacity'] == '-'] = 0
/var/folders/__/r8r58jz17gj32tjwycl0m0hr0000gn/T/ipykernel_60092/1963336850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['solar_power_capacity'][test_df['solar_power_capacity'] == '-'] = 0

In [85]:
train_df.drop(['sunshine', 'solar_radiation', 'ess_capacity', 'pcs_capacity'], axis=1, inplace=True)
test_df.drop(['ess_capacity', 'pcs_capacity'], axis=1, inplace=True)

- cooling degree hours (CDH) 와 일평균 CDH 추가(냉방도일)
- 온도에서 24도를 뺀 값
- 24도부터 에어컨을 튼다고 함. 이후 얼마나 사용할지 가정.

In [86]:
def CDH(xs):
    ys = []
    for i in range(len(xs)):
        if i < 11:
            ys.append(np.sum(xs[:(i+1)]-24))
        else:
            ys.append(np.sum(xs[(i-11):(i+1)]-24))
    return np.array(ys)

In [87]:
cdhs = np.array([])
for num in range(1,101):
    temp = train_df[train_df['building_number'] == num]
    cdh = CDH(temp['temperature'].values)
    cdhs = np.concatenate([cdhs, cdh])
train_df['cdh'] = cdhs

In [88]:
cdhs = np.array([])
for num in range(1,101):
    temp = test_df[test_df['building_number'] == num]
    cdh = CDH(temp['temperature'].values)
    cdhs = np.concatenate([cdhs, cdh])
test_df['cdh'] = cdhs

In [89]:
train_df

,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,...,day,month,year,day_of_year,hour_of_year,day_of_week,rainfall_next_day,rainfall_any,discomfort_index,cdh
ddt,,,,,,,,,,,,,,,,,,,,,
2022-06-01 00:00:00,1,2022-06-01 00:00:00,18.6,0.0,0.9,42.0,1085.28,Other Buildings,110634.00,39570.00,...,2,6,2022,152,3624,2,0.0,1,63.09388,-5.4
2022-06-01 01:00:00,1,2022-06-01 01:00:00,18.0,0.0,1.1,45.0,1047.36,Other Buildings,110634.00,39570.00,...,2,6,2022,152,3625,2,0.0,1,62.46400,-11.4
2022-06-01 02:00:00,1,2022-06-01 02:00:00,17.7,0.0,1.5,45.0,974.88,Other Buildings,110634.00,39570.00,...,2,6,2022,152,3626,2,0.0,1,62.08735,-17.7
2022-06-01 03:00:00,1,2022-06-01 03:00:00,16.7,0.0,1.4,48.0,953.76,Other Buildings,110634.00,39570.00,...,2,6,2022,152,3627,2,0.0,1,60.89884,-25.0
2022-06-01 04:00:00,1,2022-06-01 04:00:00,18.4,0.0,2.8,43.0,986.40,Other Buildings,110634.00,39570.00,...,2,6,2022,152,3628,2,0.0,1,62.88788,-30.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-24 19:00:00,100,2022-08-24 19:00:00,23.1,0.0,0.9,86.0,881.04,Hotel and Resort,57497.84,40035.23,...,2,8,2022,236,5659,2,0.0,1,72.38034,4.4
2022-08-24 20:00:00,100,2022-08-24 20:00:00,22.4,0.0,1.3,86.0,798.96,Hotel and Resort,57497.84,40035.23,...,2,8,2022,236,5660,2,0.0,1,71.21736,3.8
2022-08-24 21:00:00,100,2022-08-24 21:00:00,21.3,0.0,1.0,92.0,825.12,Hotel and Resort,57497.84,40035.23,...,2,8,2022,236,5661,2,0.0,1,69.79704,1.7
2022-08-24 22:00:00,100,2022-08-24 22:00:00,21.0,0.0,0.3,94.0,640.08,Hotel and Resort,57497.84,40035.23,...,2,8,2022,236,5662,2,0.0,1,69.41060,-1.1
2022-08-24 23:00:00,100,2022-08-24 23:00:00,20.7,0.0,0.1,95.0,540.24,Hotel and Resort,57497.84,40035.23,...,2,8,2022,236,5663,2,0.0,1,68.95035,-4.1

In [90]:
train_df['date_time'] = pd.to_datetime(train_df['date_time'], format='%Y%m%d %H')
train_df['hour'] = train_df['date_time'].dt.hour
train_df['week'] = train_df['date_time'].dt.isocalendar().week

In [91]:
test_df['date_time'] = pd.to_datetime(test_df['date_time'], format='%Y%m%d %H')
test_df['hour'] = test_df['date_time'].dt.hour
test_df['week'] = test_df['date_time'].dt.isocalendar().week

In [92]:
train_df.columns

Index(['building_number', 'date_time', 'temperature', 'rainfall', 'windspeed',
       'humidity', 'power_consumption', 'building_type', 'total_area',
       'cooling_area', 'solar_power_capacity', 'hour', 'day', 'month', 'year',
       'day_of_year', 'hour_of_year', 'day_of_week', 'rainfall_next_day',
       'rainfall_any', 'discomfort_index', 'cdh', 'week'],
      dtype='object')

- 시간변수 cos, sin으로 변환
- Holiday 변수 추가

In [93]:
train_df['sin_time'] = np.sin(2*np.pi*train_df.hour/24)
train_df['cos_time'] = np.cos(2*np.pi*train_df.hour/24)

In [94]:
test_df['sin_time'] = np.sin(2*np.pi*test_df.hour/24)
test_df['cos_time'] = np.cos(2*np.pi*test_df.hour/24)

In [95]:
train_df['holiday'] = train_df.apply(lambda x : 0 if x['day']<5 else 1, axis = 1)
train_df['holiday'] = train_df.apply(lambda x : 2 if x['day']==6 else x['holiday'], axis = 1)
test_df['holiday'] = test_df.apply(lambda x : 0 if x['day']<5 else 1, axis = 1)
test_df['holiday'] = test_df.apply(lambda x : 2 if x['day']==6 else x['holiday'], axis = 1)
train_df.loc[('2022-06-01'<=train_df.date_time)&(train_df.date_time<'2022-06-02'), 'holiday'] = 1
train_df.loc[('2022-06-06'<=train_df.date_time)&(train_df.date_time<'2022-06-07'), 'holiday'] = 1
train_df.loc[('2022-08-15'<=train_df.date_time)&(train_df.date_time<'2022-08-16'), 'holiday'] = 1

In [96]:
train_df.drop(['temperature', 'windspeed', 'humidity','month', 'year', 'hour','day_of_year', 'hour_of_year', 'day_of_week'], axis=1, inplace=True)

In [97]:
test_df.drop(['temperature', 'windspeed', 'humidity','month', 'year', 'hour'], axis=1, inplace=True)

In [98]:
train_df

,building_number,date_time,rainfall,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,day,rainfall_next_day,rainfall_any,discomfort_index,cdh,week,sin_time,cos_time,holiday
ddt,,,,,,,,,,,,,,,,,
2022-06-01 00:00:00,1,2022-06-01 00:00:00,0.0,1085.28,Other Buildings,110634.00,39570.00,0,2,0.0,1,63.09388,-5.4,22,0.000000,1.000000,1
2022-06-01 01:00:00,1,2022-06-01 01:00:00,0.0,1047.36,Other Buildings,110634.00,39570.00,0,2,0.0,1,62.46400,-11.4,22,0.258819,0.965926,1
2022-06-01 02:00:00,1,2022-06-01 02:00:00,0.0,974.88,Other Buildings,110634.00,39570.00,0,2,0.0,1,62.08735,-17.7,22,0.500000,0.866025,1
2022-06-01 03:00:00,1,2022-06-01 03:00:00,0.0,953.76,Other Buildings,110634.00,39570.00,0,2,0.0,1,60.89884,-25.0,22,0.707107,0.707107,1
2022-06-01 04:00:00,1,2022-06-01 04:00:00,0.0,986.40,Other Buildings,110634.00,39570.00,0,2,0.0,1,62.88788,-30.6,22,0.866025,0.500000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-24 19:00:00,100,2022-08-24 19:00:00,0.0,881.04,Hotel and Resort,57497.84,40035.23,0,2,0.0,1,72.38034,4.4,34,-0.965926,0.258819,0
2022-08-24 20:00:00,100,2022-08-24 20:00:00,0.0,798.96,Hotel and Resort,57497.84,40035.23,0,2,0.0,1,71.21736,3.8,34,-0.866025,0.500000,0
2022-08-24 21:00:00,100,2022-08-24 21:00:00,0.0,825.12,Hotel and Resort,57497.84,40035.23,0,2,0.0,1,69.79704,1.7,34,-0.707107,0.707107,0
2022-08-24 22:00:00,100,2022-08-24 22:00:00,0.0,640.08,Hotel and Resort,57497.84,40035.23,0,2,0.0,1,69.41060,-1.1,34,-0.500000,0.866025,0
2022-08-24 23:00:00,100,2022-08-24 23:00:00,0.0,540.24,Hotel and Resort,57497.84,40035.23,0,2,0.0,1,68.95035,-4.1,34,-0.258819,0.965926,0

In [99]:
test_df

,building_number,date_time,rainfall,building_type,total_area,cooling_area,solar_power_capacity,day,day_of_year,hour_of_year,rainfall_next_day,rainfall_any,discomfort_index,cdh,week,sin_time,cos_time,holiday
ddt,,,,,,,,,,,,,,,,,,
2022-08-25 00:00:00,1,2022-08-25 00:00:00,0.0,Other Buildings,110634.00,39570.00,0,3,237,5664,0.0,1,71.78980,-0.5,34,0.000000,1.000000,0
2022-08-25 01:00:00,1,2022-08-25 01:00:00,0.0,Other Buildings,110634.00,39570.00,0,3,237,5665,0.0,1,71.02840,-1.5,34,0.258819,0.965926,0
2022-08-25 02:00:00,1,2022-08-25 02:00:00,0.0,Other Buildings,110634.00,39570.00,0,3,237,5666,0.0,1,70.81675,-2.8,34,0.500000,0.866025,0
2022-08-25 03:00:00,1,2022-08-25 03:00:00,0.0,Other Buildings,110634.00,39570.00,0,3,237,5667,0.0,1,70.11262,-4.7,34,0.707107,0.707107,0
2022-08-25 04:00:00,1,2022-08-25 04:00:00,0.0,Other Buildings,110634.00,39570.00,0,3,237,5668,0.0,1,69.56514,-6.9,34,0.866025,0.500000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31 19:00:00,100,2022-08-31 19:00:00,0.0,Hotel and Resort,57497.84,40035.23,0,2,243,5827,0.5,1,71.22400,-10.5,35,-0.965926,0.258819,0
2022-08-31 20:00:00,100,2022-08-31 20:00:00,0.0,Hotel and Resort,57497.84,40035.23,0,2,243,5828,0.8,1,68.95035,-10.4,35,-0.866025,0.500000,0
2022-08-31 21:00:00,100,2022-08-31 21:00:00,0.0,Hotel and Resort,57497.84,40035.23,0,2,243,5829,1.1,1,68.24604,-11.3,35,-0.707107,0.707107,0
2022-08-31 22:00:00,100,2022-08-31 22:00:00,0.0,Hotel and Resort,57497.84,40035.23,0,2,243,5830,1.0,1,68.01203,-12.8,35,-0.500000,0.866025,0
2022-08-31 23:00:00,100,2022-08-31 23:00:00,0.0,Hotel and Resort,57497.84,40035.23,0,2,243,5831,0.2,1,66.33391,-16.2,35,-0.258819,0.965926,0

In [100]:
train_df.to_csv('../data_file/fill_na_train.csv', index= False)

In [101]:
test_df.to_csv('../data_file/fill_na_test.csv', index=False)

In [102]:
train_df

,building_number,date_time,rainfall,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,day,rainfall_next_day,rainfall_any,discomfort_index,cdh,week,sin_time,cos_time,holiday
ddt,,,,,,,,,,,,,,,,,
2022-06-01 00:00:00,1,2022-06-01 00:00:00,0.0,1085.28,Other Buildings,110634.00,39570.00,0,2,0.0,1,63.09388,-5.4,22,0.000000,1.000000,1
2022-06-01 01:00:00,1,2022-06-01 01:00:00,0.0,1047.36,Other Buildings,110634.00,39570.00,0,2,0.0,1,62.46400,-11.4,22,0.258819,0.965926,1
2022-06-01 02:00:00,1,2022-06-01 02:00:00,0.0,974.88,Other Buildings,110634.00,39570.00,0,2,0.0,1,62.08735,-17.7,22,0.500000,0.866025,1
2022-06-01 03:00:00,1,2022-06-01 03:00:00,0.0,953.76,Other Buildings,110634.00,39570.00,0,2,0.0,1,60.89884,-25.0,22,0.707107,0.707107,1
2022-06-01 04:00:00,1,2022-06-01 04:00:00,0.0,986.40,Other Buildings,110634.00,39570.00,0,2,0.0,1,62.88788,-30.6,22,0.866025,0.500000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-24 19:00:00,100,2022-08-24 19:00:00,0.0,881.04,Hotel and Resort,57497.84,40035.23,0,2,0.0,1,72.38034,4.4,34,-0.965926,0.258819,0
2022-08-24 20:00:00,100,2022-08-24 20:00:00,0.0,798.96,Hotel and Resort,57497.84,40035.23,0,2,0.0,1,71.21736,3.8,34,-0.866025,0.500000,0
2022-08-24 21:00:00,100,2022-08-24 21:00:00,0.0,825.12,Hotel and Resort,57497.84,40035.23,0,2,0.0,1,69.79704,1.7,34,-0.707107,0.707107,0
2022-08-24 22:00:00,100,2022-08-24 22:00:00,0.0,640.08,Hotel and Resort,57497.84,40035.23,0,2,0.0,1,69.41060,-1.1,34,-0.500000,0.866025,0
2022-08-24 23:00:00,100,2022-08-24 23:00:00,0.0,540.24,Hotel and Resort,57497.84,40035.23,0,2,0.0,1,68.95035,-4.1,34,-0.258819,0.965926,0